body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.title {
    font-weight: lighter;
}
.main-img {
    box-shadow: 0px 2px 5px lightgray;
    width: 300px;
    padding: 10px;
    }
.container{
    display:flex;
    justify-content: space-around;
    gap:20px;
    
}
div.first{
    color: #565959;
}
.reference{
    color: #007185;
}
.Breadcrumb{
    color: #565959;
    font-size:small;
}
.ratings{
    width: 120px;
}
.bold{
    font-weight: bold;
}